body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#game-container {
    margin-top: 50px;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: 480px;
    height: 480px;
    margin: auto;
    border: 2px solid #333;
}

.cell {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    position: relative;
}


.possible {
    position: relative;
}

.possible::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #20dede;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.selected {
    background-color: rgba(147, 231, 167, 0.51) !important;
}


.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.piece {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}